<%= form_for @quote do |f| %>	
<div class="form-group">	
	<%= f.text_field :author, class: "form-control", placeholder: "Enter your name" %><br>
</div>
<div class="form-group">	
	<%= f.text_field :employer, class: "form-control", placeholder: "Enter your employer" %><br>
</div>
<div class="form-group">	
	<%= f.text_field :position, class: "form-control", placeholder: "Enter your job title" %><br>
</div>
<div class="form-group">	
	<%= f.text_field :education, class: "form-control", placeholder: "Enter your education (University, vocational, self-taught, etc.)" %><br>
</div>
<div class="form-group">	
	<%= f.text_field :years_programming, class: "form-control", placeholder: "Enter years programming" %><br>
</div>
<div class="form-group">	
	<%= f.text_field :picture, class: "form-control", placeholder: "Enter picture URL" %><br>
</div>
<div class="form-group">	
	<%= f.text_field :advice, class: "form-control", size: "50x10", placeholder: "Share your words of wisdom" %><br>
</div>
	<button class="btn btn-default"><%= f.submit %></button>
<% end %>